@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Aman";
   
}

<h2>Index View</h2>
<p>This View Corresponds to the Index action method.</p>
<p>@ViewData["Name"]</p>