@page
@model ASP.NET_Core_web_Application.Pages.HelloModel
@{
    ViewData["Title"] = "Hello";
}

<h1>Hello, ASP.NET Core!</h1>

<div class="text-center">
    <h1 class="display-4">Hello World</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>